<div>
    <div>
        <h1>Bienvenidos!!</h1>
        <div>
            <p>
                Angular es un framework de JavaScript de tipo open source, es decir de código abierto, 
                desarrollado por Google. Se utiliza en la creación y programación de aplicaciones web 
                de una sola página. Como se explica en el sitio web de Angular, “los componentes son 
                los bloques de construcción que componen una aplicación.
            </p>
        </div>
    </div>

</div>
